/* global.css */

/* Leaflet CSS (jeśli potrzebne) */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

/* Tailwind v4 */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Reset i globalne style */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* ✅ Ustawienie obsługi dark mode */
@layer base {
  html {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }
}

/* Ukrycie scrollbara */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
